@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/primary.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Web App is designed for entertainment purpose. It allows users to share jokes!</p>
</div>
